---
import PageLayout from '@/layouts/BaseLayout.astro'
import { Button } from 'astro-pure/user'

const meta = {
  title: 'Docs',
  description: 'Docs Page'
}
---

<PageLayout {meta}>
  <Button title='Back' href='/' variant='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>Docs Page</h1>
      <div class='not-prose flex justify-center'>
        <div class='flex items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm'>
          <span class='size-2 rounded-full bg-yellow-400'></span>
          <p class='font-medium text-muted-foreground'>正在施工中……</p>
        </div>
      </div>
    </div>
  </main>
</PageLayout>
