---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import VercountStats from '@/components/about/VercountStats.astro'

const headings = [
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'about-blog', text: 'About Site' }
]
---

<PageLayout title='About' {headings}>

  <p>
      原本用的是 vitepress 和一个不错的主题的，但看久了还是觉得有些太素了<br/>
       <Spoiler>也有可能是因为有不少文档网站都是用 vitepress？</Spoiler><br/>
      然后我在机缘巧合之下找到了现在在用的这个框架和主题（本页下方有标明）<br/>
      琢磨好几天改了一下用上了，还是非常不错的<br/>
      不过自己还是太菜了，改了好久……<br/>
      ---<br/>
      因为备案的问题，本站是没有任何评论功能的，所以如果有什么建议或者疑问的话，都可以通过本页最下方的邮箱地址联系我
  </p>

	  <VercountStats />

	  {/* tools */}
	  <h2 id='tools'>Tools</h2>
	  <p>我在用的一部分工具：</p>
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Arc',
        description: 'Browser',
        href: 'https://arc.net/',
        icon: import('@/assets/tools/arc.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'Zed',
        description: 'IDE',
        href: 'https://zed.dev/',
        icon: import('@/assets/tools/zed.svg?raw')
      },
      {
        name: 'Neovim',
        description: 'Text Editor',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/neovim.svg?raw')
      },
      {
        name: 'Sublime',
        description: 'Text Editor',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/sublime.svg?raw')
      },
      {
        name: 'ChatGPT',
        description: 'OpenAI',
        href: 'https://openai.com/',
        icon: import('@/assets/tools/chatgpt.svg?raw')
      },
      {
        name: 'Claude',
        description: 'Anthropic',
        href: 'https://code.claude.com/',
        icon: import('@/assets/tools/claude.svg?raw')
      },
      {
        name: 'Gemini',
        description: 'Google',
        href: 'https://aistudio.google.com/',
        icon: import('@/assets/tools/gemini.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'MacOS Sequoia',
        description: 'MacBook Air M3',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Legion Y9000X 2022',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      },
      {
        name: 'Ubuntu 24.04',
        description: 'Server',
        href: 'https://cn.ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      }
    ]}
  />

  {/* about-blog */}
  <h2 id='about-blog'>About Site</h2>
  <p>网站事件小记：</p>
  <Timeline
    events={[
      {
        date: '2026-01-08',
        content:
          '本站开始使用 <a href="https://astro.build/" target="_blank" style="text-decoration: none;">Astro</a> + <a href="https://github.com/srleom/astro-theme-resume" target="_blank" style="text-decoration: none;">Astro Theme Resume</a>'
      },
      {
        date: '2025-07-16',
        content:
          '当时使用 <a href="https://quartz.jzhao.xyz/" target="_blank" style="text-decoration: none;">Quartz4</a> 创了一个子站，但现在关闭了'
      },
      {
        date: '2024-10-17',
        content: '可能是这个网站开始运营的时候，采用的是 <a href="https://vitepress.dev/" target="_blank" style="text-decoration: none;">vitepress</a> + <a href="https://github.com/airene/vitepress-blog-pure" target="_blank" style="text-decoration: none;">vitepress-blog-pure</a> 主题'
      }
    ]}
  />
  <p>
      网站的运营和个性化定制也依赖以下优秀项目/服务提供商提供的技术支持：
  </p>
  <ul>
    <li>域名 & 解析：<a href='https://cloud.tencent.com/' target='_blank' style='text-decoration: none;'>腾讯云</a></li>
    <li>
      框架 & 主题：<a href='https://astro.build/' target='_blank' style='text-decoration: none;'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank' style='text-decoration: none;'>Astro Theme Pure</a
      >
    </li>
    <li>
      服务器供应商：<a href='https://www.aliyun.com/' target='_blank' style='text-decoration: none;'>阿里云</a>
    </li>
    <li>
      访客统计：<a href='https://www.vercount.one/' target='_blank' style='text-decoration: none;'>Vercount</a>
    </li>
    <li>
      CDN：<a href='https://cloud.tencent.com/product/teo' target='_blank' style='text-decoration: none;'>EdgeOne</a> + <a href='https://www.aliyun.com/product/esa' target='_blank' style='text-decoration: none;'>ESA</a>
    </li>
  </ul>
</PageLayout>
